// 字体变量
$fz-bigest-x: 40px;
$fz-bigest: 32px;
$fz-biger: 24px;
$fz-big-xx: 22px;
$fz-big-x: 20px;
$fz-big: 18px;
$fz-sm-xx: 16px;
$fz-sm-x: 14px;
$fz-sm: 12px;

// 字体颜色 x 多的数值大
$gray-xx: #ccc;
$gray-x: #999;
$gray: #666;
$gray-s-xx: #595959;
$gray-s-x: #333;
$gray-s: #262626;
$blue-xx: #51acfb;
$blue-x: #2b9afa;
$blue: #2590f9;
